.card {
  border-radius: 20px;
  border: 1px solid black;
  margin: 10px 10px;
  max-height: 300px;
  max-width: 200px;
  overflow: hidden;
  text-align: center;
  width: fit-content;
  background-color: white;
}

.img {
  width: 200px;
  height: 200px;
}

.card p {
  padding: 10px 10px;
  text-transform: capitalize;
}
