* {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
}

body {
  padding: 40px;
  background: #ebebeb;
}

input {
  margin: 10px 0;
  padding: 0 10px;
  width: 95%;
  height: 30px;
  border-radius: 20px;
  border: none;
  outline: none;
}
